@use "@material/data-table";

.table {
	display: grid;
	grid-auto-rows: minmax(data-table.$minimum-cell-height, auto);

	.row .cell {
		border-bottom-style: solid;
		border-color: data-table.$divider-color;
	}
}
