.drawerContainer {
  position: relative;
  display: flex;
  height: 350px;
  max-width: 600px;
  border: 1px solid rgba(0,0,0,.1);
  overflow: hidden;
  z-index: 0;
}

.mainContent {
  overflow: auto;
  padding: 16px;
  height: 100%;
  box-sizing: border-box;
}

.appContent {
  flex: auto;
  overflow: auto;
  position: relative;
  flex-grow: 1;
}